<% if !nut_list.empty? %>

  <font style="font-size: 11px;" >
   <table bgcolor="#F0F0F0"  cellpadding="3" cellspacing="2" border="0" style="border: 2px solid #857562;">
     <tr>
       <td valign="top">



          <!--
           <span>
             Serving Size: 1 tbsp
           </span>-->

         <table>
         <tr><td colspan="2" align="left"><b>Nutrition Label</b></td></tr>
            <tr><td colspan="2"><hr color=black size=4></td></tr>
            <tr><td colspan="2" class="facts_main">Amount per Serving</td></tr>
            <tr><td colspan="2"><hr color=black size=1></td></tr>
            <tr><td colspan="2" width="100%">
                <table border="0" width="100%">
                  <tr>
                    <td align="left"><span style="font-size: 9px;" class="facts_main">Calories</span> <%= sprintf(" %01.#{nut_list["ENERC_KCAL"].decimal}f", nut_list["ENERC_KCAL"].value) %></td>
                    <td align="right" style="font-size:9px;"></td>

                  </tr>
                  <tr>
                    <td align="left"><span style="font-size: 9px;" class="facts_main">Kilojoules</span> <%= sprintf(" %01.#{nut_list["ENERC_KJ"].decimal}f", nut_list["ENERC_KJ"].value) %></td>
                    <td align="right" style="font-size:9px;"></td>

                  </tr>
                </table>
              </td>
            </tr>
            <tr><td colspan="2"><hr color=black size=4></td></tr>
          </table>




       </td>
       <td>
        <table>
            <tr><td colspan="2" align="left"><b>% Daily Value</b></td></tr>
            <tr><td colspan="2"><hr color=black size=4></td></tr>
            <tr><td><span class="facts_main">Total Fat<span> <%= sprintf(" %01.#{nut_list["FAT"].decimal}f", nut_list["FAT"].value) %><%= nut_list["FAT"].units %></td><td align="right" class="facts_main"><%= sprintf(" %01.f", nut_list["FAT"].value*1.545) %>%</td></tr>

            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;Saturated Fat&nbsp;  <%= sprintf(" %01.#{nut_list["FASAT"].decimal}f", nut_list["FASAT"].value) %><%= nut_list["FASAT"].units %></td><td align="right"class="facts_main"><%= sprintf(" %01.f", nut_list["FASAT"].value*5) %>%</td></tr>
            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;Monounsaturated Fat&nbsp; <%= sprintf(" %01.#{nut_list["FAMS"].decimal}f", nut_list["FAMS"].value) %><%= nut_list["FAMS"].units %></td></tr>
            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;Polyunsaturated Fat&nbsp;<%= sprintf(" %01.#{nut_list["FAPU"].decimal}f", nut_list["FAPU"].value) %><%= nut_list["FAPU"].units %></td></tr>
            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;Trans Fat&nbsp;<%= sprintf(" %01.#{nut_list["FATRN"].decimal}f", nut_list["FATRN"].value) %><%= nut_list["FATRN"].units %></td></tr>
            <tr><td><span class="facts_main">Cholesterol</span> <%= sprintf(" %01.#{nut_list["CHOLE"].decimal}f", nut_list["CHOLE"].value) %><%= nut_list["CHOLE"].units %></td><td align="right" class="facts_main"><%= sprintf(" %01.f", nut_list["CHOLE"].value*3) %>%</td></tr>
            <tr><td colspan="2"><hr color="black" size="4"></td></tr>
          </table>



       </td>
       <td valign="bottom">
         <table>
           <tr><td colspan="2"><hr color=black size=4></td></tr>
                       <tr><td><span class="facts_main">Sodium</span><%= sprintf(" %01.#{nut_list["NA"].decimal}f", nut_list["NA"].value) %><%= nut_list["NA"].units %></td><td align="right" class="facts_main"><%= sprintf(" %01.f", nut_list["NA"].value*0.038) %>%</td></tr>
                 <tr><td><span class="facts_main">Potassium</span>&nbsp;<%= sprintf(" %01.#{nut_list["K"].decimal}f", nut_list["K"].value) %><%= nut_list["K"].units %></td><td align="right" class="facts_main"><%= sprintf(" %01.f", nut_list["K"].value*0.03) %>%</td></tr>
            <tr><td><span class="facts_main">Total Carbohydrate</span> <%= sprintf(" %01.#{nut_list["CHOCDF"].decimal}f", nut_list["CHOCDF"].value) %><%= nut_list["CHOCDF"].units %></td><td align="right" class="facts_main"><%= sprintf(" %01.f", nut_list["CHOCDF"].value/3.106) %>%</td></tr>
            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;Dietary Fiber&nbsp; <%= sprintf(" %01.#{nut_list["FIBTG"].decimal}f", nut_list["FIBTG"].value) %><%= nut_list["FIBTG"].units %></td><td align="right" class="facts_main"><%= sprintf(" %01.f", nut_list["FIBTG"].value*4) %>%</td></tr>
            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;Sugars&nbsp; <%= sprintf(" %01.#{nut_list["SUGAR"].decimal}f", nut_list["SUGAR"].value) %><%= nut_list["SUGAR"].units %></td></tr>
            <tr><td><span class="facts_main">Protein</span> <%= sprintf(" %01.#{nut_list["PROCNT"].decimal}f", nut_list["PROCNT"].value) %><%= nut_list["PROCNT"].units %></td><td align="right" class="facts_main"><%= sprintf(" %01.f", nut_list["PROCNT"].value*2) %>%</td></tr>

            <tr><td colspan="2"><hr color="black" size="4"></td></tr>
          </table>
       </td>
 
      </tr>
    </table>
  </font>
<% else %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font style="font-size: 12px">No nutrition info for this food yet.</font><br>
<% end %>