<h1>Email List Administration</h1>
<font style="font-size:12px;">
  <% if @emails != nil %>
    <table>
      <th>Email</th><th>Created</th><th>Sub</th><th>From</th>
      <% @emails.each do |email| %>
        <tr>
          <td><%= email.email_address %></td>
          <td><%= email.created_at %></td>
          <td><%= email.subscription %></td>
          <td><%= email.from %></td>
        </tr>
        <tr><td colspan="4"><hr></td></tr>
      <% end %>
    </table>
  </font>
<% end %>
<%= will_paginate @emails, :class => 'picnic_pagination' %>