<h1>New invitation</h1>

<%= error_messages_for :invitation %>

<% form_for(@invitation) do |f| %>
<p>
    <b>Code</b><br />
    <%= f.text_field :code %>
  </p>

  <p>
    <b>Reciever user</b><br />
    <%= f.text_field :reciever_user_id %>
  </p>
  <p>
    <b>Sender user</b><br />
    <%= f.text_field :sender_user_id %>
  </p>

  <p>
    <b>Count</b><br />
    <%= f.text_field :count %>
  </p>
 
    <b>Reciever Email user</b><br />
    <%= f.text_field :reciever_email %>
  </p>

  <p>

  <p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', invitations_path %>
