<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Food Conversation Without The Table.</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index,follow" />
  <meta name="description" content="Track what you eat and converse with others who eat like you." />
  <meta name="keywords" content="Food, diet, cooking, recipes, networking" />
  <meta name="author" content="AgileOutfitters" />
  <meta name="copyright" content="" />
  <%= javascript_include_tag "swfobject" %>
  <%= javascript_include_tag "anylink" %>


<script language=JavaScript>
<!--
function check_length(my_text)
{
maxLen = 200; // max number of characters allowed
if (document.getElementById(my_text).value.length >= maxLen) {
// Alert message if maximum limit is reached.
// If required Alert can be removed.
var msg = "You have reached your maximum limit of characters allowed";
//alert(msg);
// Reached the Maximum length so trim the textarea
document.getElementById(my_text).value = document.getElementById(my_text).value.substring(0, maxLen);
document.getElementById('text_num').value = maxLen - document.getElementById(my_text).value.length;
}
else{ // Maximum length not reached so update the value of my_text counter
document.getElementById('text_num').value = maxLen - document.getElementById(my_text).value.length;}
}

function doClear(value)
{
  document.getElementById(value).value = "";
}
//-->
</script>

  <%= stylesheet_link_tag 'site' %>
  <%= stylesheet_link_tag 'anylink' %>
  <%= javascript_include_tag :defaults %>
  <%= calendar_date_select_includes "default" %>
</head>
<body background="/images/palm_background.jpg">


  <div id="top_banner">
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td><a href="/"><img src="/images/top_banner_logo2.gif" alt="Picnic Dog"  border="0"/></a></td>
        <td><%= render :partial => 'layouts/menu' %></td>
        </tr>
    </table>
  </div>
  <br>
  <center>
<!-- Begin: AdBrite, Generated: 2008-12-31 18:04:41  -->
<script type="text/javascript">
var AdBrite_Title_Color = '0000FF';
var AdBrite_Text_Color = '000000';
var AdBrite_Background_Color = 'FFFFFF';
var AdBrite_Border_Color = 'CCCCCC';
var AdBrite_URL_Color = '008000';
try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
</script>
<span style="white-space:nowrap;"><script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=981928&zs=3436385f3630&ifr='+AdBrite_Iframe+'&ref='+AdBrite_Referrer+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
<a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=981928&afsid=1"><img src="http://files.adbrite.com/mb/images/adbrite-your-ad-here-banner.gif" style="background-color:#CCCCCC;border:none;padding:0;margin:0;" alt="Your Ad Here" width="11" height="60" border="0" /></a></span>
<!-- End: AdBrite -->
  </center>
  <br>
  <div class="main_center">
    <table>
      <tr>
        <td valign="top">
          <div id="left_side">
            <%= yield %>
          </div>
        </td>
        <td valign="top">
          <div id="right_side">
            <table>
              <tr><td style="width:400px;">
                <!-- Begin: AdBrite, Generated: 2008-12-31 18:06:56  -->
<script type="text/javascript">
var AdBrite_Title_Color = '0000FF';
var AdBrite_Text_Color = '000000';
var AdBrite_Background_Color = 'FFFFFF';
var AdBrite_Border_Color = 'FFFFFF';
var AdBrite_URL_Color = '008000';
try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
</script>
<script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=981930&zs=3330305f323530&ifr='+AdBrite_Iframe+'&ref='+AdBrite_Referrer+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
<div><a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=981930&afsid=1" style="font-weight:bold;font-family:Arial;font-size:13px;">Your Ad Here</a></div>
<!-- End: AdBrite -->
              </td></tr>
            </table>
            <div id="profile_box">
              <% if params[:controller]== "search" %>
                <%= render :partial => "search/search_side"  %>
              <% elsif params[:controller] == "blog" %>
                <%= render :partial => "blog/blog_side"  %>
              <% else %>
                <%= render :partial => "accounts/user_profile"  %>
              <% end %>
            </div>
            <br><br>
            <table>
              <tr>
              <td style="width:400px;">
<!-- Begin: AdBrite, Generated: 2009-01-03 15:37:30  -->
<script type="text/javascript">
var AdBrite_Title_Color = '0000FF';
var AdBrite_Text_Color = '000000';
var AdBrite_Background_Color = 'FFFFFF';
var AdBrite_Border_Color = 'CCCCCC';
var AdBrite_URL_Color = '008000';
try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
</script>
<script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=985417&zs=3330305f323530&ifr='+AdBrite_Iframe+'&ref='+AdBrite_Referrer+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
<div><a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=985417&afsid=1" style="font-weight:bold;font-family:Arial;font-size:13px;">Your Ad Here</a></div>
<!-- End: AdBrite -->
              </td>
              </tr>
             
            </table>
              <br><br>
          </div>
        </td>
      </tr>
    </table>
  </div>
<br>
  <br>

<div id="footer">
<center>
  <br><br>
PicnicDog.com &copy;&nbsp;&nbsp;&nbsp; <a href="mailto:support@picnicdog.com">Support</a> &nbsp;&nbsp;-&nbsp;&nbsp; <a href="mailto:feedback@picnicdog.com">Give Us Your FeedBack</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="http://picnicdog.blogspot.com">View Our Blog</a>
</center>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4575272-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
