<center>
<div id="start">
  <div id="login_form">
    <% form_remote_tag :url => {:action => 'new' } do -%>
      <table>
        <tr><td align="right">Login:</td><td><%= text_field_tag 'login', "", :class => "text_login_box" %></td></tr>
        <tr><td align="right">Password:</td><td><%= password_field_tag 'password', "", :class => "text_login_box" %></td></tr>
        <tr><td><%= submit_tag 'Log in' %></td><td><a href="/accounts/forgot_password">Forgot Password</a></td></tr>
        <tr><td><div id="view_blog"><a href="http://picnicdog.blogspot.com">View Our Blog</a></div></td><td></td></tr>
        <tr><td colspan="2"><div id="login_error" style="display:none;">Invalid Credentials</div></td></tr>
      </table>

             <!--     <p><label for="remember_me">Remember me:</label>
      <%= check_box_tag 'remember_me' %></p>-->
                 

    <% end -%>
  </div>
  <div id="email_box">
    <div id="email">
      <%= form_remote_tag :url => { :action => 'add_email' }, :html => { :id => 'email'} %>
      Email Address:
      <%= text_field "email", "email_address" %><%= submit_tag 'Submit' %>
      </form>
    </div>
  </div>
  
</div>


</center>



